<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!--<li><a href="/cv">CV</a></li>-->
			<a href="https://github.com/Archimedes2013/Archimedes2013.github.io/blob/master/CV-LIUXIAO.pdf" class="download" title="Download CV as PDF">CV</a>			

	        		<!--<li><a href="/blog">Blog</a></li>-->
				<!--<li><a href="/contact">Contact</a></li>-->
	    		
			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dlutliuxiao@sina.com">email</a></li>
	        		<li><a href="https://github.com/Archimedes2013">github.com/liuxiao</a></li>
				<li><a href="https://www.linkedin.com/in/%E9%AA%81-%E5%88%98-aa44a7188/">linkin/liuxiao</a></li>
				</ul>
			</footer>
		</body>
	</html>
